.footer {

  &__container {
    padding-top: 51px;
    padding-bottom: 24px;
    border-top: 1px solid $light-gray;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    'category social contacts'
    'copyright . developmen';
    gap: 26px 20px;

    @include laptop {
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 31px;
    }

    @include tablet {
      grid-template-columns: 1fr 2fr 1fr;
      margin-top: 25px;
      margin-bottom: 16px;
      gap-row: 17px;
    }
    @include mobile {
      padding-top: 17px;
      gap: 24px;
      grid-template-columns: 1fr max-content;
      grid-template-areas: 
      'category social'
      'contacts contacts'
      'developmen developmen'
      'copyright copyright';
    }
  }
  
  &__item {

    &_category {
      grid-area: category;
    }
    
    &_social {
      grid-area: social;
      justify-self: center;
    }
    
    &_contacts {
      grid-area: contacts;
    }
    
    &_copyright {
      grid-area: copyright;
      align-self: end;
    }
    
    &_developmen {
      grid-area: developmen;
    }
    
    
  }
  
  &__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;

    @include tablet {
      font-size: 16px;
      line-height: 19px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }
  }
  
  &__link {
    transform:  color 0.3s liner;
    
    &:hover {
      color: $gray
    }
  }
  
}
